<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
		<title>New Project</title>
	</head>
	<body>
		<div class="container">
			<h1>Scrabble Score Calculator</h1>
			<br>
			<p>Enter a word in the form below and press 'Calculate' to display the Scrabble score of your word.</p>
			<form action="/result" method="get">
				<input type="text" name="user-word" value="">
				<button type="submit" class="btn btn-default">Calculate</button>
			</form>
			@if (Model != null)
			{
				<p>Word: @Model.wordToCheck</p>
				<p>Score: @Model.wordScore</p>
			}
		</div>
	</body>
</html>
